[data-role='accordion'] {
  padding: 10px;
}

[data-role='accordion-section'] {
  margin-bottom: 10px;
  padding: 0;
}

[data-role='accordion'],
[data-role='accordion-section'] {
  list-style: none;
}

[data-role='accordion-section-title'] {
  background: #f5f5f5;
  border: 1px solid #ddd;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 3px;

  &.toggle-active {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  [data-role='title-toggle'] {
    color: inherit;
    font-size: 1.2em;
    font-weight: 500;
  }
}

[data-role='accordion-section-content'] {
  padding: 10px 15px;
  border: 1px solid #ddd;
  border-top: 1px solid transparent;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  margin-top: -1px;

  &.content-closed {
    display: none;
  }

}